<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Ground_Movement_Control.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <applicationSettings>
    <Ground_Movement_Control.Properties.Settings>
      <setting name="Ground_Movement_Control_GscWs_GSC" serializeAs="String">
        <value>http://airport-dko-gsc.azurewebsites.net/gsc.asmx</value>
      </setting>
      <setting name="Ground_Movement_Control_VizualizatorWs_Visualisator"
        serializeAs="String">
        <value>http://airport-dko-1.cloudapp.net/Visualisator.asmx</value>
      </setting>
      <setting name="Ground_Movement_Control_SnowPlugWs_Snowplug" serializeAs="String">
        <value>http://airport-dko-services.azurewebsites.net/snowplug.asmx</value>
      </setting>
      <setting name="Ground_Movement_Control_MetrologWs_MetrologService"
        serializeAs="String">
        <value>http://airport-dko-metrological.azurewebsites.net/MetrologService.asmx</value>
      </setting>
      <setting name="Ground_Movement_Control_WeatherWs_WebServiceWeather"
        serializeAs="String">
        <value>http://airport-dko-weather.azurewebsites.net/WebServiceWeather.asmx</value>
      </setting>
    </Ground_Movement_Control.Properties.Settings>
  </applicationSettings>
  <system.serviceModel>
    <bindings />
    <client />
  </system.serviceModel>
</configuration>