<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="BaggageTractor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <applicationSettings>
    <BaggageTractor.Properties.Settings>
      <setting name="BaggageTractor_GmcVS_GMC" serializeAs="String">
        <value>http://airport-dko-gmc.azurewebsites.net/gmc.asmx</value>
      </setting>
      <setting name="BaggageTractor_AircraftGeneratorVS_AircraftGenerator"
        serializeAs="String">
        <value>http://airport-dko-aircraft-generator.azurewebsites.net/AircraftGenerator.asmx</value>
      </setting>
      <setting name="BaggageTractor_GscVS_GSC" serializeAs="String">
        <value>http://airport-dko-gsc.azurewebsites.net/gsc.asmx</value>
      </setting>
    </BaggageTractor.Properties.Settings>
  </applicationSettings>
</configuration>