<?xml version="1.0" encoding="utf-8"?>
<!--
  Дополнительные сведения по настройке приложения ASP.NET см. по адресу:
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
    
  </system.web>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="GlobalWeatherSoap" />
      </basicHttpBinding>
      <customBinding>
        <binding name="GlobalWeatherSoap12">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
      </customBinding>
    </bindings>
    <client>
      <endpoint address="http://www.webservicex.net/globalweather.asmx"
        binding="basicHttpBinding" bindingConfiguration="GlobalWeatherSoap"
        contract="WebServiceGlobalWeather.GlobalWeatherSoap" name="GlobalWeatherSoap" />
      <!--<endpoint address="http://www.webservicex.net/globalweather.asmx"
        binding="customBinding" bindingConfiguration="GlobalWeatherSoap12"
        contract="WebServiceGlobalWeather.GlobalWeatherSoap" name="GlobalWeatherSoap12" />-->
    </client>
  </system.serviceModel>
</configuration>