<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MetrologicalService.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <MetrologicalService.Properties.Settings>
            <setting name="MetrologicalService_MetrologWebService_MetrologService"
                serializeAs="String">
                <value>http://airport-dko-metrological.azurewebsites.net/MetrologService.asmx</value>
            </setting>
        </MetrologicalService.Properties.Settings>
    </applicationSettings>
</configuration>