<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Refueler.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <applicationSettings>
    <Refueler.Properties.Settings>
      <setting name="Refueler_GmcVS_GMC" serializeAs="String">
        <value>http://airport-dko-gmc.azurewebsites.net/gmc.asmx</value>
      </setting>
      <setting name="Refueler_GscVS_GSC" serializeAs="String">
        <value>http://airport-dko-gsc.azurewebsites.net/gsc.asmx</value>
      </setting>
    </Refueler.Properties.Settings>
  </applicationSettings>
</configuration>