<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Aircraft_Generator_GUI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <system.serviceModel>
        <bindings />
        <client />
    </system.serviceModel>
    <applicationSettings>
        <Aircraft_Generator_GUI.Properties.Settings>
            <setting name="Aircraft_Generator_GUI_AircraftGeneratorWs_AircraftGenerator"
                serializeAs="String">
                <value>http://airport-dko-aircraft-generator.azurewebsites.net/AircraftGenerator.asmx</value>
            </setting>
            <setting name="Aircraft_Generator_GUI_InformationPanelWs_WebServiceInformationPanel"
                serializeAs="String">
                <value>http://airport-dko-passengers.azurewebsites.net/WebServiceInformationPanel.asmx</value>
            </setting>
            <setting name="Aircraft_Generator_GUI_GmcVs_GMC" serializeAs="String">
                <value>http://airport-dko-gmc.azurewebsites.net/gmc.asmx</value>
            </setting>
            <setting name="Aircraft_Generator_GUI_GscVs_GSC" serializeAs="String">
                <value>http://airport-dko-gsc.azurewebsites.net/gsc.asmx</value>
            </setting>
        </Aircraft_Generator_GUI.Properties.Settings>
    </applicationSettings>
</configuration>