<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="GMCSoap" />
        <binding name="AircraftGeneratorSoap" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://airport-dko-gmc.azurewebsites.net/gmc.asmx"
        binding="basicHttpBinding" bindingConfiguration="GMCSoap" contract="GMC.GMCSoap"
        name="GMCSoap" />
      <endpoint address="http://airport-dko-aircraft-generator.azurewebsites.net/aircraftgenerator.asmx"
        binding="basicHttpBinding" bindingConfiguration="AircraftGeneratorSoap"
        contract="AircraftGenerator.AircraftGeneratorSoap" name="AircraftGeneratorSoap" />
    </client>
  </system.serviceModel>
</configuration>