<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Ground_Service_Control.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <system.serviceModel>
    <bindings />
    <client />
  </system.serviceModel>
  <applicationSettings>
    <Ground_Service_Control.Properties.Settings>
      <setting name="Ground_Service_Control_GMC_GMC" serializeAs="String">
        <value>http://airport-dko-gmc.azurewebsites.net/gmc.asmx</value>
      </setting>
      <setting name="Ground_Service_Control_AircraftGenerator_AircraftGenerator"
        serializeAs="String">
        <value>http://airport-dko-aircraft-generator.azurewebsites.net/AircraftGenerator.asmx</value>
      </setting>
      <setting name="Ground_Service_Control_BaggageTractor_BaggageTractor"
        serializeAs="String">
        <value>http://airport-dko-services.azurewebsites.net/BaggageTractor.asmx</value>
      </setting>
      <setting name="Ground_Service_Control_CateringTruck_CateringTruck"
        serializeAs="String">
        <value>http://airport-dko-services.azurewebsites.net/CateringTruck.asmx</value>
      </setting>
      <setting name="Ground_Service_Control_ContainerLoader_ContainerLoader"
        serializeAs="String">
        <value>http://airport-dko-services.azurewebsites.net/ContainerLoader.asmx</value>
      </setting>
      <setting name="Ground_Service_Control_PassengerBus_PassengerBus"
        serializeAs="String">
        <value>http://airport-dko-services.azurewebsites.net/PassengerBus.asmx</value>
      </setting>
      <setting name="Ground_Service_Control_PassengerStairs_PassengerStairs"
        serializeAs="String">
        <value>http://airport-dko-services.azurewebsites.net/PassengerStairs.asmx</value>
      </setting>
      <setting name="Ground_Service_Control_Refueler_Refueler" serializeAs="String">
        <value>http://airport-dko-services.azurewebsites.net/Refueler.asmx</value>
      </setting>
      <setting name="Ground_Service_Control_VIPShuttle_VIPShuttle"
        serializeAs="String">
        <value>http://airport-dko-services.azurewebsites.net/VIPShuttle.asmx</value>
      </setting>
      <setting name="Ground_Service_Control_WebServiceInformationPanel_WebServiceInformationPanel"
        serializeAs="String">
        <value>http://airport-dko-passengers.azurewebsites.net/WebServiceInformationPanel.asmx</value>
      </setting>
    </Ground_Service_Control.Properties.Settings>
  </applicationSettings>
</configuration>